extends layouts/main.pug
include mixins/videoB.pug

block content
        .videos
            each video in videos
                +videoB({
                    id:video.id,
                    title:video.title,
                    name:video.creator.name,
                    views:video.views,
                    videoProfileImg:video.videoProfileImg,
                    videoFile:video.videoFile
                })